:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  
}
div{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

}

input{
  display: block;
  margin-bottom:16px;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  @media(max-width: 768px) {
    font-size: 36px;
  }

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #eee;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-bottom: 16px;
}
button:hover {
  border-color: #000;
}

.btnLimpar{
  margin-left: 16px;
}